In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
dataset = pd.read_csv('fake_or_real_news.csv')
dataset.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [3]:
print(dataset.shape)
# We have 6335 rows and 4 columns.

(6335, 4)

In [4]:
print(dataset['title'].isnull())
print(dataset['text'].isnull())
print(dataset['label'].isnull())

0       False
1       False
2       False
3       False
4       False
        ...
6330    False
6331    False
6332    False
6333    False
6334    False
Name: title, Length: 6335, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
6330    False
6331    False
6332    False
6333    False
6334    False
Name: text, Length: 6335, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
6330    False
6331    False
6332    False
6333    False
6334    False
Name: label, Length: 6335, dtype: bool

In [5]:
list(dataset.columns)

['Unnamed: 0', 'title', 'text', 'label']

In [6]:
dataset.drop(['Unnamed: 0'], axis=1, inplace=True)
#We have a cleaner data. 
dataset.head()

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [7]:
x = np.array(dataset['title'])
y = np.array(dataset['label'])
cv = CountVectorizer()
x = cv.fit_transform(x)

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
model = MultinomialNB()
model.fit(x_train, y_train)
print(model.score(x_test, y_test))

0.8074191002367798

In [9]:
#Let’s test the model, I will just input any news title on Google news,
#and see if the trained model predicts to be real or fake.

news_headline = 'Ukraine: Austrian leader, Putin meet…other new developments'
data = cv.transform([news_headline]).toarray()
print(model.predict(data))

['REAL']

In [10]:
news_headline = 'President Buhari is a goat'
data = cv.transform([news_headline]).toarray()
print(model.predict(data))

['FAKE']

In [11]:
news_headline = 'The capital of lagos is Ikeja'
data = cv.transform([news_headline]).toarray()
print(model.predict(data))

['REAL']

In [13]:
news_headline = 'A lion was seen in South America'
data = cv.transform([news_headline]).toarray()
print(model.predict(data))

['REAL']